.hero-list {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: 100%;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    p {
      color: black;
    }
    .card-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center !important;
      position: relative;
      height: fit-content;
      width: fit-content !important;
      max-width: 98%;
      margin-right: auto;
      margin-left: auto;
  
      @media only screen and (max-width: 974px) {
        max-width: 95%;
        justify-content: center;
      }

  
      // &::after {
      //   content: "";
      //   flex: auto;
      //   max-width: 100%;
      // }
    }
  }