@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;  
}

.App {
  text-align: center;
}

.header {
  text-align: center;
  color: white;
}

body {
  background-image:  url("https://i.pinimg.com/originals/6a/35/2e/6a352eff1e199dabd25b497b748c039c.jpg");

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .main {
    padding: 20px;
    padding-top: 60px;
      
    .card-list {
      justify-content: center;
    }

    .save-team-form {
      margin: 5px;
    }

    .hero-search-form {
      margin: 20px;

    }

    h1 {
      font-size: 3rem;
    }

    .hero-card {
        h2 {
          color: black;
        };

        .hero-image {
          height: 350px;
          overflow: hidden;
          background-color: black;
          img {
            width: 100%;
            }	
        }
        .hero-stats {
          h4 {
            text-align: left;
            padding-left: 10%;
          }
          p {
            text-align: left;
            color: white;
            padding-left: 10%;
          }
          .power-stats {
            column-count: 2;

          }

        }
      }
       
    .hero-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      p {
        color: black;
      }
    }

    .search-placeholder img {
      height: 60%
    }

  }
}