@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;  
}

h1, h2, h3, h4, h5, p, ul, ol, li, span, div, button, input  {
  font-family: 'Muli', sans-serif !important;
}

h1 {
  font-size: 3rem;
}  

.App {
  text-align: center;
}

.header {
  text-align: center;
  color: white;
}

body {
  background-image:  url("https://i.pinimg.com/originals/6a/35/2e/6a352eff1e199dabd25b497b748c039c.jpg");

  .main {
    padding-top: 60px;

    .header {
      h3 {
        margin: 0;
      }
      .alphabet-filter {
        margin: 5px;
        cursor: pointer;
        font-weight: 100;
        &:hover {
          color: gold;
          font-weight: 900;
        }
        &.active {
          color: gold;
          font-weight: 900;
        }
      }
    }
     

    .search-placeholder img {
      height: 60%
    }

  }

    .save-team-form {
      margin: 5px;
    }  
}